@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-alternativo: #ffffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

h1 {
    color: var(--destaque);
    margin: 15px 0px;
    font-size: 1.5em;
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
}

#menu > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#menu a {
    color: var(--texto-inverso);
    text-decoration: none;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;
    margin-top: 20px;
}

#ficha  {
    background-color: var(--fundo-alternativo);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

#ficha .foto {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top: 15px;
    border-radius: 50%;
    border: 5px solid var(--fundo-alternativo);
    outline: 5px solid var(--destaque);
}


#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    gap: 1em;
    margin-top: 15px;
}

#social a{
    color: var(--destaque);
    transition: color 0.5s;
}

#social a:hover{
    color: var(--destaque-inverso);
}

#detalhes {
    grid-column: 2;
}

article {
    background-color: var(--fundo-alternativo);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#video-container {
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
}

#video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

